* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulo {
  text-align: center;
}
.txt_center {
  text-align: center;
}
.txt_end {
  text-align: end;
}

.tabela {
  display: block;
  padding: 0 0 1rem;
  margin: 0 1rem;
  width: auto;
  overflow-x: scroll;
  scroll-behavior: auto;
}
.tbody:nth-child(n + 1):hover {
  cursor: pointer;
}
.tbody {
  display: grid;
  margin-top: 0.5rem;
  gap: 0.5rem;
}
.linha {
  display: grid;
  grid: 1fr / 1.5rem 10rem 7rem 5rem 10rem 1.5rem;
  padding: 0.15rem 0.25rem;
  width: fit-content;
  border: 1px solid #000;
  border-collapse: collapse;
  gap: 1rem;
}

.celula,
th {
  white-space: nowrap;
}
