* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0 0.5rem;
}

.titulo {
  text-align: center;
}
hr {
  border-color: orange;
  margin: 2rem 0;
}

.pedido {
  display: grid;
  background-color: #c1c1c1;
  padding: 1.5rem 0.5rem;
  margin: 2rem auto;
  max-width: 42.5rem;
  border-radius: 1rem;
}
.cabecalho {
  display: grid;
  grid: auto / repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem 0;
}
.cabecalho:nth-child(n) {
  margin-left: 1.5rem;
}

.itens {
  display: grid;
  place-self: center;
  margin: 2rem 0;
  width: auto;
  max-width: 35rem;
  gap: 1rem;
}
.caption {
  justify-self: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  width: fit-content;
}
.item {
  display: grid;
  justify-content: center;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.tabela {
  display: block;
  width: auto;
  overflow-x: scroll;
  scroll-behavior: auto;
}
.linha {
  display: grid;
  grid: 1fr / 4rem 5rem 3rem 3rem 5rem;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
}
.celula,
th {
  padding: 0.15rem 0.25rem;
}
