@import "/src/styles/variaveis.sass";
@import "/src/styles/mixins.scss";

.section {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  width: fit-content;
  gap: 1rem 2rem;
}

.section-tabela {
  display: grid;
  width: fit-content;
  margin: 0 auto;

  &__aviso {
    place-self: end;
    color: $cor-vermelha;
  }
}



.input {
  display: grid;
  position: relative;
  padding: .25rem 0;
  border: 1px solid #000;
  border-radius: .5rem;
  gap: .2rem; 
  cursor: pointer;
  
  &__label {
    position: absolute;
    font-size: 1.1rem;
    top: .4rem;
    left: .7rem;
    cursor: pointer;
  }
  &__select {
    font-size: 1rem;
    padding: .25rem .5rem;
    width: 13rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__label-disable {
    color: transparent;
  }

}
 
.tabela {
  @include tabela;
  
  &__tbody {
    @include corpo;
  }

  
  &__linha {
    @include linha;
  }
  
}

@include media-query;